html {
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
}
.container {
    width: 960px;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;    
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;     
}
.nav-container {
    display: flex;
    justify-content: space-between;
}
.nav-list {
    display: inline-flex;   
    align-items: center;
}
.firm {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.spn {
    font-weight: 400;
    font-size: 18px;
    margin: 20px; 
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.disabled {
    cursor: not-allowed;     
}
header {
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.introduction {
    width: 577px;
    height: 46.11px;
    font-size: 36px;
}
.introduction1 {
    width: 276px;
    padding: 75px 0px;
    height: 23.13px;  
    font-size: 18px;
  }
.oft {
    border: 3px solid #FFFFFF;
    font-size: 18px;
    padding: 10px 57px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 1s;
    transition-property: all;
}
.oft:hover {
    background-color: white;
    color: black;
    
}
.section-employees {
    background-color: #F1F1F1;
    width: 100%;
    padding: 50px 0px;
   
}
.specialists {
    width: 386px;
    height: 35px;
    font-weight: 700;
    font-size: 36px;
    color: #152D41;
    padding-bottom: 78px;
}
.employees-list {
    align-items: center;
    color: #000000;
}
.employee {
    display: flex;
}
.employee:nth-last-of-type(odd) {
    flex-direction: row-reverse;
}
.ellipse {
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background-size: cover;
}
.text {
    width: 700px;
    font-weight: 700;
    font-size: 18px;
    padding: 30px 0 0 50px;
}
.text-align-right {
    text-align: right;
    padding: 30px 50px 0 0;
}

.section-services {
    background-color: #405D78;
    width: 100%;
    padding: 50px 0;
}
.servises {
    width: 501px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.servises-list {
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;  
    gap: 60px;  
    margin-top: 30px;     
}
.box {
    width: 198px;
    height: 193.78px;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    transition-property: all;
}
.box:hover {
    transform: scale(1.05);  
}
.newBox {
    position: relative;
}
.service {
    width: 149px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.orange-ellipse{
    position: absolute;
    display: flex;
    top: -11px;
    left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #E07A64;
   
}
footer {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    background-color: rgb(78, 78, 78);
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_list {
    display: flex;
    zoom: 150%;
    gap: 20px;
}
